<!DOCTYPE html>
<html id="global_html">
  <head>
    <title class="m_title">搜索设备</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link rel="bookmark" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/style.css" />
</head>

<body>
	<div id="div_monitor_modules">
		  	<input class="btn" type="text" placeholder="请输入设备编码" id="d_device_code" v-model="device_code"/>
  			<button class="btn" type="button" id="search_btn">点击搜索</button>
	</div>

	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
  	<script type="text/javascript" src="/lib/vue/dist/vue.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

    	var input_v = new Vue({
		  el: '#d_device_code',
		  data: {
		    device_code: ''
		  }
		})


    	$("#search_btn").bind("click",function(){
    		if(input_v.device_code != ''){
    			window.location.href = "http://api.bidostar.com:3000/analyze/debug.page?device_code=" + input_v.device_code
                //window.open("http://api.bidostar.com:3000/analyze/debug.page?device_code=" + input_v.device_code);
    		}
    		else{
    			alert("请输入设备编码");
    		}
    	});
    });
    </script>
</body>
</html>
